    <footer class="footer__smartDocLp text-center">
        <div class="d-none">
            <!-- SNS関連リンク -->
            <div class="sns-links-area d-flex justify-content-around mx-auto mb-5">
                <a target="_blank" href="https://youtu.be/mpnU9Htt5NA">
                    <img src="./svg/social-youtube.svg" alt="" class="img-fluid sns-links-svg">
                </a>
                <a target="_blank" href="https://www.facebook.com/pages/%E3%83%A1%E3%83%87%E3%82%A3%E3%82%AB%E3%83%AB%E3%83%81%E3%82%A7%E3%83%83%E3%82%AF%E3%82%B9%E3%82%BF%E3%82%B8%E3%82%AA-%E3%82%B9%E3%83%9E%E3%83%BC%E3%83%88%E8%84%B3%E3%83%89%E3%83%83%E3%82%AF/2012703018987101">
                    <img src="./svg/social-facebook.svg" alt="" class="img-fluid sns-links-svg">
                </a>
                <a target="_blank" href="https://twitter.com/hashtag/%E3%83%A1%E3%83%87%E3%82%A3%E3%82%AB%E3%83%AB%E3%83%81%E3%82%A7%E3%83%83%E3%82%AF%E3%82%B9%E3%82%BF%E3%82%B8%E3%82%AA">
                    <img src="./svg/social-twitter.svg" alt="" class="img-fluid sns-links-svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/explore/locations/2012703018987101/">
                    <img src="./svg/social-instagram.svg" alt="" class="img-fluid sns-links-svg">
                </a>
            </div>
            <!-- //SNS関連リンク -->
        </div>
        <!-- フッターロゴ -->
        <a href="#"><img src="./svg/brand-logo-footer.svg" alt="" class="footer-logo-svg"></a>
    </footer>