<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>脳ドックを手軽に。予防医療で人々を幸せに | スマート脳ドック</title>
	<link rel="icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="android-touch-icon.png" sizes="192x192">
</head>

<body>
    <header class="header__smartDocLp sticky-content">
        <nav class="navbar navbar-expand-lg navbar-light">
			<!-- ヘッダーロゴ -->
            <a class="navbar-brand" href="#">
				<img src="./images/kurotuchi-logo.png" class="brand-logo img-fluid"></img>
			</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav justify-content-around designunit__navbarLink">
					<!-- <li class="cnav-item nav-item text-center">
						<a class="cnav-link nav-link" href="#"><span class="menu-name">TOP <span class="sr-only">(current)</span></span></a>
					</li> -->
					<li class="cnav-item nav-item text-center">
						<a class="cnav-link nav-link" href="#content__meritSix"><span class="menu-name">6つのポイント</span></a>
					</li>
					<li class="cnav-item nav-item text-center">
						<a class="cnav-link nav-link" href="#content__reservationflow"><span class="menu-name">予約から診断の流れ</span></a>
					</li>
					<li class="cnav-item nav-item text-center">
						<a class="cnav-link nav-link" href="#content__diagnosticsResult"><span class="menu-name">受診結果</span></a>
					</li>
					<li class="cnav-item nav-item text-center">
						<a class="cnav-link nav-link" href="#content__afterFollow"><span class="menu-name">アフターフォロー</span></a>
					</li>
					<li class="cnav-item nav-item text-center">
						<a class="cnav-link nav-link" href="#content__access"><span class="menu-name">アクセス</span></a>
					</li>
					<!-- ヘッダー拡張要素 --
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown link
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li> -->
				</ul>
			</div>
			<div class="button__frame__header">
				<a href="https://medicalcheckstudio.jp/login/" class="link-origin d-inline-block">
					<button class="button-smdc-login btn px-3 text-center text-nowrap mr-4">
						<img src="./svg/icon-mypage-smdc.svg" class="button-login-svg" alt="">
						マイページ
					</button>
				</a>
				<a href="https://medicalcheckstudio.jp/reserve/day_select/" class="link-origin d-inline-block">
					<button class="button-smdc-reserve btn px-3 text-center text-nowrap">
						<img src="./svg/icon-reserve-smdc.svg" class="button-reserve-svg" alt="">
						脳ドックを予約
					</button>
				</a>
			</div>
		</nav>
    </header>