<div class="col-12 pt-5">
    <section class="content__access cpt-scroll" id="content__access" name="content__access">
        <div class="text-center mb-5">
            <h2 class="designunit__topic text-center">クリニックについて</h2>
        </div>
        <div class="col-lg-8 offset-lg-2 pb-5 px-0">
            <div class="mb-md-5">
                <!-- クリニック写真・クリニック名 -->
                <img src="./images/view-clinic-kurotsuchi-overview.jpg" class="img-fluid pb-5" alt="">
                <h4 class="text-md-center">医療法人薫陽会&emsp;<br>くろつち福岡春日リハビリテーションクリニック</h4>
            </div>
            <div class="mb-5">
                <!-- 連絡先 -->
                <h5>■&ensp;電話番号</h5>
                <p class="">TEL／092-596-4976&emsp;FAX／092-596-4985</p>
                <!-- 住所 -->
                <h5>■&ensp;住所</h5>
                <p class="">〒816-0849<br>福岡県春日市星見ヶ丘2丁目55-20</p>
                <!-- アクセス -->
                <h5>■&ensp;アクセス</h5>
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.3905104600617!2d130.45559395781132!3d33.50396052819078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35419743f38dbde5%3A0x376b9e8734d13187!2z44CSODE2LTA4NDkg56aP5bKh55yM5pil5pel5biC5pif6KaL44O25LiY77yS5LiB55uu77yV77yV4oiS77yS77yQ!5e0!3m2!1sja!2sjp!4v1516933869618" width="960" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="mb-md-5">
                <!-- MRI装置 -->
                <h5>■&ensp;MRI装置</h5>
                <img src="./images/view-clinic-kurotsuchi-mri01.jpg" class="img-fluid pb-3" alt="">
                <p class="">東芝製1.5T（テスラ）MRI（磁気共鳴イメージング）装置強い磁場と電磁波を利用し、体の様々な断面を撮影する装置です。CTと異なり、X線を使用しませんので被ばくの心配はありません。</p>
            </div>
        </div>

        <%-	include ./conversion/_partial-button-frame-underContent-5 %>
    </section>
</div>