<div class="col-lg-8 offset-lg-2">
    <section class="content__meritSix cpt-scroll" id="content__meritSix" name="content__meritSix">
        <div class="text-center mb-5">
            <h2 class="designunit__topic text-center">スマート脳ドック&ensp;<br class="d-md-none">6つのポイント</h2>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 pb-3">
                <img src="./svg/meritSix-continuousPrice.svg" class="img-fluid" alt="継続しやすい価格 専門医師２人によるダブルチェック体制とAlサポート（研究開発中）により見逃しを防ぎます。">
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="./svg/meritSix-easyToReserve.svg" class="img-fluid" alt="予約が簡単！忙しい方に最適！ 簡単予約＆便利なアクセスで検査は 30分以内に終了。短時間の検査でリスク管理！土日も受付！">
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="./svg/meritSix-doctorDoubleCheck.svg" class="img-fluid" alt="ダブルチェックで正確 脳ドック 1回 17,500円（税別）※ 自費診療毎年継続して検査しやすい価格設定。">
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="./svg/meritSix-safetySupport.svg" class="img-fluid" alt="安心のサポート体制 ファミリー登録するとご家族の予約も可能！ご両親や奥様の健康管理に最適です。">
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="./svg/meritSix-mypageControl.svg" class="img-fluid" alt="マイページで 結果を管理 過去の検査履歴、予約管理と検査結果をPCやスマホで確認・管理が可能。">
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="./svg/meritSix-familyControl.svg" class="img-fluid" alt="ご家族の予約・管理 病気が見つかった場合は、経過観察および専門病院の紹介など状況に応じてサポート！">
            </div>
        </div>
    </section>
</div>
<div class="col-12 pt-5">
    <%-	include ./conversion/_partial-button-frame-underContent-2 %>
</div>