<div class="col-12 pt-5">
    <section class="content__diagnosticsResult cpt-scroll" id="content__diagnosticsResult" name="content__diagnosticsResult">
        <div class="text-center mb-5">
            <h2 class="designunit__topic text-center">受診結果はスマホで閲覧</h2>
        </div>
        <div class="col-md-10 offset-md-1 pb-5">
            <div class="d-none d-md-block">
                <p class="text-center">
                    専門医師による診断結果と撮影した画像はマイページから確認できます。
                </p>
                <img src="./images/smart-braindoc-captures-all.jpg" class="img-fluid" alt="">
            </div>
            <div class="d-md-none">
                <img src="./images/hand-in-smartphone.png" class="img-fluid w-75" alt="">
                <p class="fontunit__result py-5">
                    専門医師による診断結果と撮影した画像はマイページから確認できます。
                </p>
                <img src="./images/smart-braindoc-captures-01.jpg" class="img-fluid p-3" alt="">
                <img src="./images/smart-braindoc-captures-02.jpg" class="img-fluid p-3" alt="">
                <img src="./images/smart-braindoc-captures-03.jpg" class="img-fluid p-3" alt="">
                <img src="./images/smart-braindoc-captures-04.jpg" class="img-fluid p-3" alt="">
                <img src="./images/smart-braindoc-captures-05.jpg" class="img-fluid p-3" alt="">
            </div>
        </div>

        <%-	include ./conversion/_partial-button-frame-underContent-4 %>
    </section>
</div>