<div class="d-flex flex-wrap justify-content-center flex-column flex-lg-row">
    <h3 class="w-100 m-0">ネット予約なら簡単・早い・便利</h3>
    <span class="py-3 px-2">ネットで予約</span>
    <img src="./svg/carret-orange.svg" class="button-login-svg d-lg-none" alt="">
    <img src="./svg/carret-orange-toright.svg" class="button-login-svg d-none d-lg-inline" alt="">
    <span class="py-3 px-2">来院～お帰りまで30分</span>
    <img src="./svg/carret-orange.svg" class="button-login-svg d-lg-none" alt="">
    <img src="./svg/carret-orange-toright.svg" class="button-login-svg d-none d-lg-inline" alt="">
    <span class="py-3 px-2">検索結果はスマホに届く</span>
</div>