				<!-- 予約から診断の流れ -->
				<div class="col-12 pt-5">
					<section class="content__reservationFlow cpt-scroll" id="content__reservationflow" name="content__reservationflow">
						<div class="text-center mb-5">
							<h2 class="designunit__topic text-center">予約から診断の流れ</h2>
						</div>
						<div class="designunit__flowBox flowBox__1 mb-5 px-3 py-5">
							<div class="row">
								<div class="col-md-4">
									<div class="vborder__brand">
										<h4 class="font-weight-bold text-center pb-3">ご予約</h4>
										<p class="text-center">
											<span class="designunit__timeRequired mb-2">所要時間 約 10分</span>
										</p>
									</div>
								</div>
								<div class="col-md-8">
									<ol class="pl-4">
										<li class="pb-3 pl-2">検診場所を選ぶ</li>
										<li class="pb-3 pl-2">日時を選ぶ<br>
											<span>（月〜金 9:00〜20:00 / 土・日 10:00 ～	19:00 / 祝日:休診 / ３ヶ月先まで予約可）</span></li>
										<li class="pb-3 pl-2">ご登録（お客様の情報をご入力下さい）<br>
											<span class="color__notice">※ ID ・ パスワードは忘れないようにお願いします。</span><br>
											<span class="color__notice">※ マイページログイン、予約確認、検査結果の確認に必要です。</span></li>
										<li class="pb-3 pl-2">脳ドック受診者確定（本人 ・ ご家族）、問診票入力</li>
										<li class="pb-3 pl-2">お支払い（当日現金でのお支払い）</li>
									</ol>
								</div>
							</div>
						</div>
						<div class="designunit__flowBox flowBox__2 mb-5 px-3 py-5">
							<div class="row">
								<div class="col-md-4">
									<div class="vborder__brand d-frex flex-column align-items-center">
										<h4 class="font-weight-bold text-center pb-3">脳ドック受診</h4>
										<p class="text-center">
											<span class="designunit__timeRequired mb-2">所要時間 約 30分</span><br>
										</p>
										<p class="color__notice text-left">※当日、予約したお時間の10分前にはお越し下さい。</p>
									</div>
								</div>
								<div class="col-md-8">
									<ol class="pl-4">
										<li class="pb-3 pl-2">受付<br>
											<span class="color__notice">※ 本人確認のため必ず身分証（保険証、運転免許証など）をお持ちください。</span>
										</li>
										<li class="pb-3 pl-2">お着替え<br>
											<ul class="pt-3 pl-3 line-break-any list-style-disc">
												<li class="pb-3"> お着替えはありません。</li>
												<li class="pb-3">コート、ジャケットを脱いでいただき、金属類、携帯、時計、クレジットカード等を更衣室に置いてきて下さい。</li>
												<li class="pb-3">MRIは電磁波を発生しますので、金属系のものは撮影に影響を及ぼします。</li>
												<li class="pb-3">またクリニックとしましては、電子機器等の持ち込みが無いように最終チェックを行いますが、もし何かあってもクリニックは責任を取ることが出来ませんのでご了承下さい。</li>
											</ul>
										<li class="pb-3 pl-2">検査 約 10分（頭部MRI、頭部MRA、頸部MRA）</li>
										<li class="pb-3 pl-2">お着替え</li>
										<li class="pb-3 pl-2">受付にてお支払い
											<ul class="pt-3 pl-3 line-break-any list-style-disc">
												<li class="pb-3">事前決済がお済の方は領収書をお受け取り下さい。</li>
												<li class="pb-3">お済でない方は現金もしくはカードでお支払い下さい。</li>
											</ul>
										</li>
									</ol>
								</div>
							</div>
						</div>
						<div class="designunit__flowBox flowBox__3 mb-5 px-3 py-5">
							<div class="row">
								<div class="col-md-4">
									<div class="vborder__brand">
										<h4 class="font-weight-bold text-center pb-3">検査結果</h4>
									</div>
								</div>
								<div class="col-md-8">
									<ol class="pl-4">
										<li class="pb-3 pl-2">1週間以内に検査結果をマイページからご確認いただけます。（メールで通知します）</li>
										<li class="pb-3 pl-2">検査結果により、所見が見当たらない方は終了となります。来年（ 1年に 1回）の検査をお勧めします。
											所見があった場合は、医師との面談をご予約していただき、来院時に所見の説明後、検査もしくは専門医への紹介をします。）</li>
									</ol>
								</div>
							</div>
						</div>

						<%-	include ./conversion/_partial-button-frame-underContent-3 %>
					</section>
				</div>
				<!-- //予約から診断の流れ -->