<div class="col-12 pt-5">
    <section class="content__afterFollow cpt-scroll" id="content__afterFollow" name="content__afterFollow">
        <div class="text-center mb-5">
            <h2 class="designunit__topic text-center">診断結果に応じた<br class="d-md-none">アフターフォロー</h2>
        </div>
        <p class="text-md-center mb-5">私達クリニックではお客様の健康管理をわかりやすくするために検査結果を以下のように考えております。</p>
        <div class="designunit__flowBox__doctor mb-5 px-3 py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="vborder__brand">
                        <h4 class="font-weight-bold text-center pb-3">所見なし</h4>
                        <p class="designunit__findings text-center">現在は所見なし<br><small>異常なし</small></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <p>こちらは年齢に合わせて定期的な検査を受診していただくためのフォローをします。<br><br>
                        定期的な検診をすることで将来のリスク管理をします。<br><br>
                        また脳ドック以外の検診メニューもご紹介出来ますので、お気軽に声をおかけください。</p>
                </div>
            </div>
        </div>
        <div class="designunit__flowBox__findings mb-5 px-3 py-5">
            <p class="font-weight-bold text-md-center pb-5">こちらの場合は当クリニックでは二つの処置を考えております。</p>
            <!-- 所見あり① -->
            <div class="pb-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="vborder__brand">
                            <h4 class="font-weight-bold text-center pb-3">所見あり①</h4>
                            <p class="designunit__findings text-center">所見あり<br><small>ただし現在すぐに発症などの恐れはない</small></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>私達クリニックで定期的な検診やその他エコーを使った検査や血液検査などを行い、こちらで経過観察を行なっていただきます。<br>
                            <span class="color__notice">※この場合、再度来院いただく必要があります。</span></p>
                    </div>
                </div>
            </div>
            <!-- 所見あり② -->
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="vborder__brand">
                            <h4 class="font-weight-bold text-center pb-3">所見あり②</h4>
                            <p class="designunit__findings text-center">所見あり（なにかしらの異常あり）<br><small>出来るだけ早い処置が必要な場合</small></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>専門医の紹介を行い適切な処置を行なっていただきます。<br>
                            <span class="color__notice">※この場合、再来院の手配をします。</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="designunit__flowBox__explanation mb-5 px-3 py-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="vborder__brand">
                        <h4 class="font-weight-bold text-center pb-3">注意事項</h4>
                        <p class="color__info">※ 次のような方はMRI検診が受けられないことがあります。</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <ol class="pl-4 line-break-any">
                        <li class="pb-3 pl-2">心臓ペースメーカ、除細動装置、人工内耳、可動式義眼、神経刺激装置、骨成長刺激装置を埋め込まれている方</li>
                        <li class="pb-3 pl-2">脳動脈瘤手術による金属クリップやコイル等が体に入っている方</li>
                        <li class="pb-3 pl-2">その他の金属があり、材質が確認できない場合</li>
                        <li class="pb-3 pl-2">眼に微細な金属片が入っている（または入っていると疑わしい方）</li>
                        <li class="pb-3 pl-2">妊娠中もしくは妊娠の可能性のある方</li>
                        <li class="pb-3 pl-2"> 1ヶ月以内にアートメーク（アイライン・眉毛）をされた方</li>
                    </ol>
                </div>
            </div>
        </div>

    </section>
</div>