/* common CSS */
@font-face {
    font-family: 'Genericons';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@mixin kosugimaru {
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 300;
    font-style: normal;
}
@mixin shingopro {
    font-family: a-otf-ud-shin-go-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
}
@mixin shinmarugopro {
    font-family: a-otf-ud-shin-maru-go-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
}
@mixin junpro {font-family: a-otf-jun-pro, sans-serif;
    font-family: a-otf-jun-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* 共通レイアウト */
.noscroller {
    overflow: hidden;
}

a.link-origin {
    text-decoration: none;
}

.sticky-content {
    @include media-breakpoint-up(lg) {
        position: fixed;
        top: 0;
        width: $sticky-content-width;
    };
}

@mixin v-centering {
    /* 親要素はrelative必須 */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.cpt-scroll {
    padding-top: 7rem!important;
}
.cmb-5 {
    margin-bottom: 5rem;
}
.cmb-md-5 {
    @include media-breakpoint-up(md) { margin-bottom: 5rem;};
}
.color__notice {
    color: $color-notice-lightred;
}
.color__info {
    color: $color-line-lightblue;
}
.line-break-any {
    line-break: anywhere;
}
.list-style-disc {
    list-style-type: disc;
}
.gmap {
    > iframe {
        width: 100%;
    }
}